  html,
  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #F8F4D0;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
  }

  .container-fluid {
    height: 100vh;
  }

  .row {
    height: 100%;
  }

  h2 {
    font-family: 'Grand Hotel', cursive;
    font-weight: 300;
    color: #86C67C;
    font-size: 50px;
    margin: 0 0 10px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  h3 {    
    font-family: 'Grand Hotel', cursive;
    font-weight: 300;
    color: #86C67C;
    font-size: 25px;
  }

  h4 {
    font-family: 'Pompiere', cursive;
    font-size: 20px;
    color: #1870A4;
    padding: 0;
  }

  p {
    font-family: 'Zeyada', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #86C67C;
  }

  .restaurants {
    padding: 20px;
  }

	#map {
    height: 400px;
		min-width: 100%;
		min-height: 100%;
		margin-right: 0px;
	}

	.btn {
	    margin-left: 20px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	}

/*RESPONSIVE!*/

/* Medium (desktops, 992px and up) to large devices (large desktops, 1200px and up)*/
@media screen and (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
      #map {
        display: flex;
        position: relative;
        flex-wrap: wrap;
      }
  }

/* Small (screens, 768px and up) to medium devices (medium desktops, 992px and up)*/
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-min) {
        .container-fluid {
            position: relative;
            transform: translate(0, 0);
        }
        body {
            display: flex;
        }

        #map {
            height: 100vh;
            display: flex;
            position: relative;
        }

        li {
            padding: 8px;
        }
  }
